<header>
  <h3>
    Contacts
  </h3>
</header>
<section class="contacts">
  <div class="contact">
    <ul>
      <li>
        <h3>{{ name }}</h3>
      </li>
      <li>
        <h4>
          {{ company }}
        </h4>
      </li>
      <li>{{ email }}</li>
      <li>{{ phone }}</li>
      <li>{{ address }}</li>
    </ul>
  </div>
  <div class="contact">
    <ul>
      <li>
        <h3>{{ name }}</h3>
      </li>
      <li>
        <h4>
          {{ company }}
        </h4>
      </li>
      <li>{{ email }}</li>
      <li>{{ phone }}</li>
      <li>{{ address }}</li>
    </ul>
  </div>
  <div class="contact">
    <ul>
      <li>
        <h3>{{ name }}</h3>
      </li>
      <li>
        <h4>
          {{ company }}
        </h4>
      </li>
      <li>{{ email }}</li>
      <li>{{ phone }}</li>
      <li>{{ address }}</li>
    </ul>
  </div>
  <div class="contact">
    <ul>
      <li>
        <h3>{{ name }}</h3>
      </li>
      <li>
        <h4>
          {{ company }}
        </h4>
      </li>
      <li>{{ email }}</li>
      <li>{{ phone }}</li>
      <li>{{ address }}</li>
    </ul>
  </div>
  <div class="contact">
    <ul>
      <li>
        <h3>{{ name }}</h3>
      </li>
      <li>
        <h4>
          {{ company }}
        </h4>
      </li>
      <li>{{ email }}</li>
      <li>{{ phone }}</li>
      <li>{{ address }}</li>
    </ul>
  </div>
  <div class="contact">
    <ul>
      <li>
        <h3>{{ name }}</h3>
      </li>
      <li>
        <h4>
          {{ company }}
        </h4>
      </li>
      <li>{{ email }}</li>
      <li>{{ phone }}</li>
      <li>{{ address }}</li>
    </ul>
  </div>
  <div class="contact">
    <ul>
      <li>
        <h3>{{ name }}</h3>
      </li>
      <li>
        <h4>
          {{ company }}
        </h4>
      </li>
      <li>{{ email }}</li>
      <li>{{ phone }}</li>
      <li>{{ address }}</li>
    </ul>
  </div>
  <div class="contact">
    <ul>
      <li>
        <h3>{{ name }}</h3>
      </li>
      <li>
        <h4>
          {{ company }}
        </h4>
      </li>
      <li>{{ email }}</li>
      <li>{{ phone }}</li>
      <li>{{ address }}</li>
    </ul>
  </div>
</section>
