header h1 {
  background: var(--dark);
  color: var(--light);
  width: 100%;
  padding: 1rem;
  font-size: 4rem;
}

.contacts {
  margin-left: 0.5rem;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.contact {
  background: var(--primary);
  text-align: center;
  font-size: 1.2rem;
  padding: 1.5rem 1.5rem;
  box-shadow: var(--shadow);
}

.contact ul {
  margin-left: -20px;
}

.contact ul li {
  list-style-type: none;
  margin: 10px auto;
}

@media (max-width: 500px) {
  .contact {
    font-size: 1rem;
  }

  .contact ul {
    margin-left: -40px;
  }
}
