<header>
  <h3>Add a contact</h3>
</header>
<section class="contact-form">
  <div class="nameGroup">
    <input type="text" placeholder="First Name" />
    <input type="text" placeholder="Last Name" />
  </div>
  <div class="companyGroup">
    <input type="text" placeholder="Company" />
    <input type="text" placeholder="Email" />
  </div>
  <div class="phoneGroup">
    <input
      type="tel"
      id="phone"
      name="phone"
      placeholder="Phone"
      pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
    />
  </div>
  <div class="addressGroup">
    <input type="text" placeholder="City" />
    <select placeholder="Select a city">
      <option label="Select a City" value="#"></option>
      <option label="Alabama" value="#"></option>
    </select>
    <input type="text" placeholder="Zip" />
  </div>
  <div class="group">
    <button type="submit">Submit</button>
  </div>
</section>
