<header>
  <h3>Add a contact</h3>
</header>
<section class="contact-form">
  <p>Form status: {{ contactFormGroup.status }}</p>
  <form class="foo-form" [formGroup]="contactFormGroup" (ngSubmit)="onSubmit()">
    <div class="col-2">
      <input
        type="text"
        placeholder="First Name*"
        formControlName="firstName"
        required
      />
      <input
        type="text"
        placeholder="Last Name*"
        formControlName="lastName"
        required
      />
    </div>
    <div class="col-2">
      <input
        type="text"
        placeholder="Company*"
        formControlName="company"
        required
      />
      <input
        type="email"
        placeHolder="Email*"
        formControlName="email"
        required
      />
    </div>
    <div class="col-1">
      <input
        type="text"
        id="text"
        name="phone"
        placeholder="Phone*"
        formControlName="phone"
        required
      />
    </div>
    <div class="col-2">
      <input type="text" placeholder="City*" formControlName="city" required />
      <select formControlName="state" required>
        <option value="#" [selected]="true">Select a state</option>
        <option value="alabama">Alabama</option>
        <option value="michigan">Michigan</option>
      </select>
      <input
        type="text"
        placeholder="Zip*"
        formControlName="zipCode"
        required
      />
    </div>
    <div class="group">
      <button type="submit">Submit</button>
    </div>
  </form>
</section>
