<header>
  <h3>Add a contact</h3>
</header>
<section class="contact-form">
  <p>Form status: {{ contactForm.status }}</p>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <div *ngIf="isValid" class="message">
      Contact successfully added.
    </div>
    <div *ngIf="emptyFields" class="alert">
      All fields are <strong>required</strong>.
    </div>
    <div *ngIf="invalidEmail" class="alert">
      Please enter a <strong>valid email</strong>.
    </div>
    <div *ngIf="invalidPhone" class="alert">
      Please enter a <strong>valid phone number</strong>.
    </div>
    <div *ngIf="invalidZipCode" class="alert">
      Please enter a <strong>valid zip code</strong>.
    </div>

    <div class="col-2">
      <input
        id="firstName"
        type="text"
        placeholder="First Name*"
        formControlName="firstName"
        required
      />

      <input
        type="text"
        placeholder="Last Name*"
        formControlName="lastName"
        required
      />
    </div>

    <div class="col-2">
      <input
        type="text"
        placeholder="Company*"
        formControlName="company"
        required
      />

      <input
        type="email"
        placeHolder="Email*"
        formControlName="email"
        required
      />
    </div>
    <div class="col-1">
      <input
        type="text"
        placeholder="Phone*"
        formControlName="phone"
        minlength="10"
        maxlength="10"
        required
      />
    </div>
    <div class="col-3">
      <input type="text" placeholder="City*" formControlName="city" required />
      <select formControlName="state" required>
        <option value="#" [selected]="true">Select a state</option>
        <option value="alabama">Alabama</option>
        <option value="michigan">Michigan</option>
      </select>
      <input
        type="text"
        placeholder="Zip*"
        formControlName="zipCode"
        maxlength="5"
        required
      />
    </div>
    <div class="group">
      <button type="submit">Submit</button>
    </div>
  </form>
</section>
