header h3 {
  background: var(--dark);
  color: var(--light);
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
}

input,
select,
button {
  font-size: 1rem;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #aaa;
}

.contact-form {
  margin: 1rem 0.2rem;
}


.group {
  margin-top: 5px;
}

.error {
  border: 1px solid var(--error);
}

.alert {
  color: var(--error);
}

.col-expand {
  display: grid;
  grid-template-rows: auto;
}

.col-1 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  margin-top: 5px;
}

.col-2 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin-top: 5px;
}

.col-3 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 5px;
}

/* .ng-untouched.ng-pristine.ng-invalid {
  border-left: 1px solid #aaa;
} */

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-dirty.ng-touched.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

@media (max-width: 700px) {
  .col-2 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    margin-top: 5px;
  }

  .col-3 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    margin-top: 5px;
  }
}
