/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --message: #0f0;
  --error: #f00;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

ul {
  margin: 0;
  padding: 0;
}
